body {
    font-family: Comfortaa, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-form-container {
    background-color: #fff;
    border: 2.5px solid #ccc; /* Збільшена рамка */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 45%; /* Збільшена ширина форми */
    max-width: 600px; /* Максимальна ширина форми */
}

.contact-form h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 0; /* Виправлено відступ справа */
    margin-left: -10px; /* Доданий відступ ліворуч */
}

textarea {
    resize: vertical;
}

.dynamic-button {
    font-family: Comfortaa, sans-serif;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dynamic-button:hover {
    background-color: #0056b3;
}
.reset-button {
    font-family: Comfortaa, sans-serif;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.reset-button:hover {
    background-color: #0056b3;
}